#plotly-panel{display:flex;font-size:.8em;resize:vertical;overflow:auto;background-color:#fff;border:1px solid #eee}
#plotly-form{padding:10px}
//#plotly-form table{border-color:#eee;border-width:0 1px 1px 0;margin:0 10px 10px 10px}
#plotly-form td{text-align:center;padding:.2rem .5rem;border:1px solid #eee}
#plotly-form td:first-child{text-align:left}
#plotly-form td:last-child{text-align:left}
#plotly-form th{text-align:center;padding:.2rem .5rem;font-weight:600;border:1px solid #eee}
#plotly-form th:first-child{text-align:left}
#plotly-form th:last-child{text-align:left}
#plotly-form tr:first-child td{text-align:center;padding:1rem}
#plotly-chart{flex-grow:1;display:flex;justify-content: center;align-items:center;text-align:center}
